

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Oswald);

h1, h2, h3{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.jumbotron{
    background: white;
    padding: 80px;
    text-align: center;
}

.jumbotron form{
    margin-top: 40px;
}

.jumbotron .container{
    opacity: 0.9;
}

body{
    color: #555;
    padding-top: 0px;
}

#btn-search{
    text-shadow: none;
    box-shadow: none;
    border: none;
    color: #555;
    background: none;
    background-color: rgba(200,200,200,0.3);
    font-family: Oswald, sans-serif;
    font-size: 1.8em;
    margin-left: 20px;
    font-weight: 600;
}

#btn-search:hover{
    background-color: rgba(200,200,200,0.7);
}

#search-term{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-size: 2.3em;
    height: 60px;
    text-align: center;
    background: none;
    border: 0px solid transparent;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 5px solid #555;
}

#search-results{
    text-align: center;
}
#search-results:after{
    content: '';
    display: block;
    clear: both;
}
.search-img-container{
    display: inline-block;
}
.search-img{
    width: 150px;
    height: 150px;
    border: 1px solid #eee;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}


@media(max-width: 768px){
    .jumbotron{
        padding: 20px;
    }
    .jumbotron form{
        margin-top: 20px;
    }
    h1 {
        font-size: 3em;
    }
    #btn-search, #search-term{
        font-size: 1.5em;
    }
    .search-img{
        width: 70px;
        height: 70px;
    }
}








